

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');


.ParallaxSection { 
    position: relative;
    width: 100%;
    height: 100%;
}

.container { 
    max-width: 100% ;
    margin: 0 auto;
    background : #f9f9f9;
    font-size: 24px; 
}

.parallax {
    /* 
        background: url("../../img/ice-cafe.jpg") ;
    */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 430px; 
}

 .parallax .text  {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
    }
    
    .parallax .text h2{ 
        color: rgb(255, 101, 101);
        font-size: 7rem;
        font-family: 'Great Vibes', cursive;

    }
    .parallax .text h3{ 
        font-size: 4rem;
        color: rgb(235, 203, 23);
        font-family: 'Kalam', cursive;

    } 