.LandingPage {  
    height: 100vh;
    padding: 10vh 0;
	background-color:   #FF821C;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:none ;
    text-align: center; 
    background-attachment: fixed;
    background: url("../../img/landing_background2.jpg") no-repeat center;
    background-size: cover;  
}

.LandingPage  .ice-section img{
    width: 30%;

}
.LandingPage  .black_cone { 
    margin: 0;
    padding: 30px 0;
    height: 100%;
    margin: 0 auto;
}

.LandingPage  .text-section { 
    padding: 40px 10px;
    margin: 0 auto;
}

.LandingPage  .text-section h3{
    font-size: 2rem;   
    color: #FF821C;
    margin: 0 auto;
}
.LandingPage  .text-section .paragraf{
    margin: 6vh auto;
    
}
.LandingPage  .text-section p{
    font-size: 0.8rem;
    color: #fff; 
    text-align: center;
} 

.socials {
    color: #fff !important;
    font-size: 2rem;
    padding: 5vh 0;
  }

.socials .icon { 
    margin:  0 1vw;
    cursor: pointer;
    transition:  200ms ease;
}
.socials .twitter:hover { 
    color: #00ACED; 
}
.socials .Linkedin:hover { 
    color: #007BB6;  
}
.socials .instagram:hover { 
    color: #E5304A;  
}
.socials .youtube:hover { 
    color: #F80000;  
}
@media only screen and (min-width : 700px) {
    .LandingPage {  
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: none ; 
        text-align: center; 
        height: auto;
    }

    .LandingPage  .text-section {  
        display: flex ;
        flex-direction: column; 
        align-items: flex-start;
        padding-top: 10rem  ;
    }
    .LandingPage  .text-section h3{
        font-size: 4rem;   
    }
    .LandingPage  .text-section p{
        font-size: 1.2rem;
        text-align: start;
    }
    
    

}