 .Navigation {
     height: 9vh;
     background-color: rgba(255, 130, 28, 0);
     width: 100%;
     padding: 1vh 2vw ; 
     border-bottom: 2px solid rgba(206, 113, 36, 0);
     z-index: 999; 
     position: fixed;
     top: 0;
 }


 .immages {
     height: 7vh; 
     display: inline-block;
    }
    
    .u-list {
    display: flex; 
     list-style: none;
     width: auto; 
     float: right;
     margin: 2vh 5vw;
     font-weight: bold; 
     animation: 400ms  ease;
 }
 
 .u-list li  a {
        padding: 1.4vh 2vw;
        color: #fff;
        text-decoration: none;
    }
    
    .u-list li  a:hover {
     color: crimson; 
     background-color: #fff;
   }
    .cone {
        display: none;
       position: absolute;
       right: 6vw;
       top: 1vh;
    }
    
    @media only screen and (max-width : 700px) {
        .cone {
            display: block !important;
        }  
        .u-list {
            display: none;
        }
}