    .SideBar {
        position: fixed;  
        height: 93vh;
        width: 100%;
        z-index: 999; 
        background-color: #ff821c;
        right : 0%;
        transition: 600ms ease;
        margin-top: 0vh;
        margin-top: 9vh;
    }
    
    .menu-active{  
        right: 100%;
    }

    .u-list-sidebar {
        display: flex; 
        flex-direction: column;
        list-style: none;
        width: 100%;  
        float: right; 
        font-weight: bold; 
        text-align: center;
        height: 80%; 
    }


    .u-list-sidebar li   { 
        margin: auto 0;
        font-size: 2.5rem;
    }
    .u-list-sidebar li  a {
        padding: 0 2vw;
        color:  #fff;
        text-decoration: none;
        margin: 5px 0;
    }
 